# Dependencies
node_modules/

# Next.js
.next/
__pycache__/
.venv/
*.log
*.pyc
streamlit_app/progress.json
pnpm-debug.log*

# Env
.env
.env.local
.env.*.local

# Editor
.vscode/
.DS_Store
Thumbs.db

# Coverage
coverage/

# Misc
*.log
*.tmp
*.swp
